* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.countryV {
  display: block;
  margin: 20px auto;
  padding: 5px;
  min-width: 100%;
  color:  #333;
  font-size: 15px;
  font-weight: 900;
  text-align-last: center;
}
